In [12]:
import numpy as np
import pandas as pd
from itertools import product
import re

In [51]:
data = pd.read_csv('Day2_Input.txt', header=None, names=['num', 'letter', 'word'],  delimiter=' ')
data['letter'] = [d[:-1] for d in data['letter']]
data['num_0'] = [int(d.split('-')[0]) for d in data['num']]
data['num_1'] = [int(d.split('-')[-1]) for d in data['num']]
data

       num letter                 word  num_0  num_1
0      2-8      t     pncmjxlvckfbtrjh      2      8
1      8-9      l           lzllllldsl      8      9
2     3-11      c    ccchcccccclxnkcmc      3     11
3     3-10      h           xcvxkdqshh      3     10
4      4-5      s                gssss      4      5
..     ...    ...                  ...    ...    ...
995   4-10      c          cccjncjsccr      4     10
996  10-18      h   xkswshrhghxlnmhqzr     10     18
997   5-18      k  kkkkkkkhkkkklkkkknk      5     18
998   9-10      t           ttttttttnt      9     10
999  10-11      x          xxxxxxxxxcv     10     11

[1000 rows x 5 columns]

In [52]:
# Part 1
np.sum(data.apply(lambda row: row['num_0'] <= row['word'].count(row['letter']) and row['word'].count(row['letter']) <= row['num_1'], axis=1))

666

In [67]:
# Part 2
def get_letter(word, index):
    if index-1 < len(word):
        return word[index-1]
    return None

np.sum(data.apply(lambda row: (get_letter(row['word'], row['num_0']) == row['letter']) != (get_letter(row['word'], row['num_1']) == row['letter']), axis=1))

670